/* for home page */

body {
   margin: 0;
}

.logo img {
  width: 18%; 
}

nav ul {
    margin-top: -50px ;
}

nav li {
    display: inline-block;
    padding: 6px;
}

nav ul {
    float: right;
}
  
li a {
    color:#3F2A2B;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

li a:hover {
    color: #7A5052;
}

/* end of styling nav bar */

.mainbanner img {
    width: 100%;
}

.about img {
    position: relative;
    width: 48%;
    padding-top: 20px ;
    margin-left: 35px;
}

.box {
    background-color: #F2E5D7;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 395px;
    left: 230px;
    width:185px;
    border: 1px solid #7A5052 ;
    padding: 10px;
    margin: 10px;    
}

.box h3 {
    color: #7A5052;
    font-weight:450;
}

.box p {
    color:#7A5052;
    font-size: 10px;
}

.box button {
    background-color: #7A5052;
    font-family: 'Montserrat', sans-serif;
    color: white;
    /* font-weight: lighter; */
    border: none;
    padding: 5px 8px;
}

.quote p {
    color: white;
    background-color: #7A5052;
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    font-size: smaller;
    text-align: center;
}

.prototypes img {
    width: 90%;
    margin-left: 25px;
    height: 250px;
}

