/* for home page */

body {
   margin: 0;
}

.logo img {
  width: 18%; 
}

nav ul {
    margin-top: -40px ;
}

nav li {
    display: inline-block;
    padding: 6px;
}

nav ul {
    float: right;
}
  
li a {
    color:#3F2A2B;
    text-decoration: none;
    font-size: 12.5px;
    font-family: 'Montserrat', sans-serif;
}

li a:hover {
    color: #7A5052;
}

/* end of styling nav bar */

.mainbanner img {
    width: 100%;
}

.about img {
    margin-top: 20px;
    position: relative;
    width: 55%;
    padding-top: 20px ;
    margin-left: 20px;
}

.box {
    background-color: #F2E5D7;
    font-family: 'Montserrat', sans-serif;
    position:absolute;
    top:360px;
    left:170px;
    width:180px;
    height:142px; 
    border: 1px solid #7A5052 ;
    padding: 10px;
    margin: 10px;    
}

.box h3 {
    color: #81523F;
    font-weight:450;
    font-size: smaller;
}

.box p {
    color:#7A5052;
    font-size: 8px;
}

.box button {
    background-color: #81523F;
    font-size:x-small;
    font-family: 'Montserrat', sans-serif;
    color: white;
    /* font-weight: lighter; */
    border: none;
    padding: 3px 8px;
}

.quote p {
    color: white;
    background-color: #81523F;
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
    font-size:x-small;
    text-align: center;
    margin-top: 40px;
}

.prototypes img {
    margin-top: 30px;
    width: 87%;
    margin-left: 25px;
    height: 180px;
}

.box1 {
    background-color: #F2E5D7;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #7A5052;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px;
}

.box1 h3 {
    color: #81523F;
    font-size: 20px;
    font-weight:430;
    text-align: center;
}

.box1 p {
    padding: 10px;
    font-size: 10px;
    color: #7A5052;
}

.box1 button {
    background-color: #81523F;
    margin-left: 110px;
    font-size: small;
    /* font-family: 'Montserrat', sans-serif; */
    color: white;
    /* font-weight: lighter; */
    border: none;
    padding: 5px 8px;
}

.websites img {
    margin-top: 30px;
    width: 87%;
    margin-left: 25px;
    height: 280px;
}

.box2 {
    background-color: #F2E5D7;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #7A5052;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px;
}

.box2 h3 {
    color: #81523F;
    font-size: 20px;
    font-weight:430;
    text-align: center;
}

.box2 p {
    padding: 10px;
    font-size: 10px;
    color: #7A5052;
}

.box2 button {
    background-color: #81523F;
    margin-left: 110px;
    font-size: small;
    /* font-family: 'Montserrat', sans-serif; */
    color: white;
    /* font-weight: lighter; */
    border: none;
    padding: 5px 8px;
}

.photography img {
    margin-top: 30px;
    width: 87%;
    margin-left: 25px;
    height: 240px;
}

.box3 {
    background-color: #F2E5D7;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #7A5052;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px;
}

.box3 h3 {
    color: #81523F;
    font-size: 20px;
    font-weight:430;
    text-align: center;
}

.box3 p {
    padding: 10px;
    font-size: 10px;
    color: #7A5052;
}

.box3 button {
    background-color: #81523F;
    margin-left: 110px;
    font-size: small;
    /* font-family: 'Montserrat', sans-serif; */
    color: white;
    /* font-weight: lighter; */
    border: none;
    padding: 5px 8px;
}

.footerlogo img {
    width:20%;
    margin-left: 170px;
}

.copyright p {
    text-align: center;
    margin-top: 10px;
    color: #81523F;
    font-size: small;
}